[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[packages]
requests = "*"
django = "==2.2.4"
sklearn = "*"
natto-py = "*"
mecab-python3 = "*"
pandas = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8 --show-source ."
format = "black ."
